In [55]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_csv('youssef_stand.csv')

In [84]:
df

,Right Thigh Yaw,Right Thigh Pitch,Right Thigh Roll,Right Calf Yaw,Right Calf Pitch,Right Calf Roll,Right Knee Flexion
0,1.0875,-0.2625,0.2375,0.0250,0.2250,-0.2375,0.3375
1,1.0875,-0.2625,0.2375,0.0250,0.2250,-0.2500,0.3375
2,1.0875,-0.2625,0.2375,0.0250,0.2375,-0.2375,0.3375
3,1.0750,-0.2750,0.2500,0.0250,0.2375,-0.2375,0.3375
4,1.0750,-0.2750,0.2500,0.0250,0.2375,-0.2375,0.3375
...,...,...,...,...,...,...,...
13900,12.1875,5.0750,-5.3000,1.2250,1.4625,0.1750,1.4625
13901,12.1875,5.0625,-5.3000,1.2375,1.4625,0.1750,1.4750
13902,12.1875,5.0625,-5.2875,1.2375,1.4625,0.1750,1.4750
13903,12.1750,5.0625,-5.2750,1.2500,1.4625,0.1750,1.4750
13904,12.1750,5.0625,-5.2750,1.2500,1.4625,0.1750,1.4750

In [77]:
df = df[['Right Thigh Yaw', 'Right Thigh Pitch', 'Right Thigh Roll', 'Right Calf Yaw', 'Right Calf Pitch', 'Right Calf Roll', 'Right Knee Flexion']]

In [78]:
df

,Right Thigh Yaw,Right Thigh Pitch,Right Thigh Roll,Right Calf Yaw,Right Calf Pitch,Right Calf Roll,Right Knee Flexion
0,16.225000,55.337502,10.0500,-34.187500,-52.225002,-65.862503,73.599998
1,-168.675003,10.412500,-145.9375,-107.062500,-10.050000,173.925003,168.650009
2,-103.262505,-35.225002,-64.4375,-61.725002,35.987499,73.912498,76.125000
3,-46.075001,-1.337500,-3.4500,-32.737499,2.812500,5.650000,5.850000
4,-27.537500,9.425000,10.4750,-33.875000,-15.387500,-12.962501,18.275000
...,...,...,...,...,...,...,...
17291,12.187500,5.075000,-5.3000,1.225000,1.462500,0.175000,1.462500
17292,12.187500,5.062500,-5.3000,1.237500,1.462500,0.175000,1.475000
17293,12.187500,5.062500,-5.2875,1.237500,1.462500,0.175000,1.475000
17294,12.175000,5.062500,-5.2750,1.250000,1.462500,0.175000,1.475000
17295,12.175000,5.062500,-5.2750,1.250000,1.462500,0.175000,1.475000

In [81]:
# Drop the first two rows
df = df.drop(df.index[:3391])

# If you want to reset the index after dropping rows
df = df.reset_index(drop=True)

In [82]:
df

,Right Thigh Yaw,Right Thigh Pitch,Right Thigh Roll,Right Calf Yaw,Right Calf Pitch,Right Calf Roll,Right Knee Flexion
0,1.0875,-0.2625,0.2375,0.0250,0.2250,-0.2375,0.3375
1,1.0875,-0.2625,0.2375,0.0250,0.2250,-0.2500,0.3375
2,1.0875,-0.2625,0.2375,0.0250,0.2375,-0.2375,0.3375
3,1.0750,-0.2750,0.2500,0.0250,0.2375,-0.2375,0.3375
4,1.0750,-0.2750,0.2500,0.0250,0.2375,-0.2375,0.3375
...,...,...,...,...,...,...,...
13900,12.1875,5.0750,-5.3000,1.2250,1.4625,0.1750,1.4625
13901,12.1875,5.0625,-5.3000,1.2375,1.4625,0.1750,1.4750
13902,12.1875,5.0625,-5.2875,1.2375,1.4625,0.1750,1.4750
13903,12.1750,5.0625,-5.2750,1.2500,1.4625,0.1750,1.4750
13904,12.1750,5.0625,-5.2750,1.2500,1.4625,0.1750,1.4750

In [83]:
df.to_csv('youssef_stand.csv', index=False)

In [92]:
# Open the file in read mode
with open('misara_stand.txt', 'r') as file:
    # Read the content
    content = file.read()

# Modify the content (replace 'old_text' with the text you want to replace)
new_content = content.replace('Angle_P', 'Pitch Angle')

# Open the file in write mode to overwrite the content
with open('misara_stand.txt', 'w') as file:
    # Write the modified content back to the file
    file.write(new_content)

In [93]:
# Open the file in read mode
with open('misara_stand.txt', 'r') as file:
    # Read the content
    content = file.read()

# Modify the content (replace 'old_text' with the text you want to replace)
new_content = content.replace('Angle_R', 'Roll Angle')

# Open the file in write mode to overwrite the content
with open('misara_stand.txt', 'w') as file:
    # Write the modified content back to the file
    file.write(new_content)